@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer utilities {
  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in-up {
    animation: fade-in-up 0.6s ease-out forwards;
  }

  @keyframes draw-line {
    from {
      stroke-dasharray: 0 1000;
    }

    to {
      stroke-dasharray: 1000 1000;
    }
  }

  .animate-draw-line {
    animation: draw-line 2s ease-out forwards;
  }

  @keyframes pie-segment {
    from {
      stroke-dasharray: 0 100;
    }
  }

  .animate-pie-segment {
    animation: pie-segment 1s ease-out forwards;
  }
}